PointNet/log/*
PointNet/out/*
PointNet/*.pyc
PointNet/models/*.pyc
PointNet/utils/*.pyc
PointNet/emd/*
PointNet/.baseline_env/
AtlasNet/log/*
AtlasNet/out/*
AtlasNet/*.pyc
AtlasNet/models/*.pyc
AtlasNet/utils/*.pyc
AtlasNet/emd/*
EC-Net/
DGCNN/log/*
DGCNN/out/*
DGCNN/*.pyc
DGCNN/models/*.pyc
DGCNN/utils/*.pyc
logs/*
